*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
/* header */
header{
    display: flex;
    align-items: center;
    margin-top: 40px !important;
    gap: 220px;
}

.menu{
    display: flex;
    gap: 22px;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    font-size: 22px;
    color: rgba(78, 76, 76, 0.849);
}

.menu li a:hover{
    padding: 5px 10px;
    color: rgba(27, 85, 27, 0.568);
    box-shadow: 2px 2px 4px 5px;
}
/* main */
/* 1 */
.first{
    background:url(./dots-lg.svg) rgba(255, 255, 255, 0.555);
    background-size: cover;
}

.box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 150px;
    gap: 50px;
}

.search{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.555);
    display:flex;
    flex-direction:column;
    justify-items: center;
    align-items:center;
    gap: 80px;
}

.search h1{
    font-size: 40px ;
    color: rgba(12, 83, 12, 0.651);
}

.search h4{
    font-size: 20px;
    color: rgba(30, 163, 30, 0.781);
}

.search form{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    background-color: rgba(226, 236, 238, 0.856);
    z-index:1 ;
    box-shadow: 2px 4px 5px 2px rgba(100, 148, 237, 0.712);
    border-radius: 5px;
    border: none;
}

.search input[type="search"] {
    padding: 10px; 
    border-radius: 4px;
    border: none;
    background-color: rgba(226, 236, 238, 0.856);
}

.search input[type="button"] {
    padding: 10px;
    width: 220px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: rgba(12, 123, 187, 0.76);
    border: none;
    cursor: pointer; 
}

.search input[type="button"]:hover{
    background-color: rgba(10, 160, 110, 0.699);
    box-shadow: 2px 2px 4px 5px white;
}

.first-img{
    height: 500px;
    width: 100%;
    background-image:url(./img20.jpg);
    background-size:cover;
}

/* 2 */
.second{
    background-color: rgba(248, 251, 252, 0.959);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.content-box{
    padding-right: 220px;
    padding: 50px 150px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 50px;
}

.content{
    background-color:  rgba(234, 245, 248, 0.959);
    width: 100%;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 5px rgba(209, 237, 245, 0.959);
    text-align: center;
}

.second-img{
    width: 100%;
    height: 540px;
    background: url(./img21.jpg) center center no-repeat;
    background-size: cover;
}

/* 3 */
.card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 20px 20px;
    background: linear-gradient(90deg, rgba(64,167,74,0.21612394957983194) 0%, rgba(64,167,74,0.4822303921568627) 8%,
     rgba(29,253,243,0.38699229691876746) 53%, rgba(80,121,221,0.3785889355742297) 97%);
}

.card{
    width: calc(25% - 40px);
    height: 250px;
    margin: 20px;
    border-radius: 5px;
    background-size: cover;
    background: no-repeat  center ;
    box-shadow: 2px 2px 4px 5px rgba(73, 77, 78, 0.705);
    transition: all 1s;
}

.card:hover{
    box-shadow: 4px 5px 7px 9px white;
    transform: translatey(-20px);
    transition: all 1s;
}

.card img{
    width: 100%;
    height: 100%;
}

/* footer */
.footer{
    background-color: rgb(44, 94, 150);
}

.footer-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 300px;
}

.company .Documentation, li a{
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

@media (max-width: 1400px){
    .box,
    .content-box{
        padding: 150px 0;
    }
}

@media (max-width: 992px){
    .box,
    .content-box{
        gap: 10px;
    }
    .search form{
        max-width: 500px;
    }
    .search form input[type="button"]{
        width: 150px;
    }
}

@media (max-width: 768px){
    .box,
    .content-box{
        flex-direction: column;
    }
    .search form{
        position: relative;
        max-width: 400px;
    }
    .search{
        gap: 30px;
    }
    header{
        gap: 80px;
    }
    .card{
        width: calc(50% - 40px);
    }
}

@media (max-width: 576px){
    header {
        gap: 50px;
    }
    .card{
        width: 100%;
        margin: 10px 0;
    }
}